[Desktop Entry]
Name=eclipse
Exec=eclipse -vm /usr/share/java/jdk/bin
Terminal=false
Icon=/usr/share/eclipse-java/icon.xpm
Type=Application
Categories=Development
