[Desktop Entry]
Name=eclipse
Exec=bash -c "source /etc/bash.bashrc; eclipse"
Terminal=false
Icon=/usr/share/eclipse-java/icon.xpm
Type=Application
Categories=Development
